<div class="p-8">

  <h1 class="text-xl font-bold mb-8">Welcome to Blueprint, vishal</h1>

  <ul>
    <li data-controller="hello">Stimulus is NOT working</li>
    <li class="text-red-400">If this text is red, Tailwind is working</li>
    <li class="text-grey-400">If this is grey, (yes <span class="italic">grey</span>), Tailwind config is setup correctly</li>
    <li><%= icon "globe" %> <- If this is a globe icon, Font Awesome is working</li>
  </ul>

  <h2 class="text-xl font-bold my-8">Links</h2>
  <ul class="list-disc">
    <li> <%= link_to "Backoffice", backoffice_users_path, class: "text-blue-500 underline" %>
</div>
